/*TEXT COLORS*/
$text-main-color: #666666;

/*BACKGROUND COLORS*/
$dark-bg: #222222;
$light-bg: #f8f8f8;
$white: #ffff;
$red: #eb4747;
$footer-bg: #0e0e0e;
$darker-bg: #1c1c1c;
$copyrigt-bg: #121212;

/*COLORS*/
$text-nav-color: #222222;
$text-heading-color: #333333;
$text-articles-paragraph-color: #d5d5d5;

/*COLORS WITH OPACITY*/
$dark-opacity: #333d3c44;

/*TEXT PROPERTIES*/
$base-p-size: 13px;
$base-size: 16px;

/*TEXT FONT*/
$font-base: 'Open Sans',
sans-serif;


/*BUTTON BACKGROUND COLOR*/
$button-grey: #eb4747;

/*BUTTON HOVER BACKGROUND*/
$button-hover: $darker-bg;